beautifulsoup4==4.12.3
click==8.1.7
dash==2.17.1
dash-bootstrap-components==1.6.0
lxml==5.3.0
mysql-connector-python==9.0.0
pandas==2.2.3
plotly==5.22.0
python-dotenv==1.0.1
python-igraph==0.11.5
requests==2.31.0
selectolax==0.3.21
urllib3==1.26.18